<section class="memora">
  <div class="memora__action">
    <video
      src="0609.mp4"
      autoplay
      muted
      loop
      playsinline
      class="memora__action--video"
    ></video>
  </div>

  <div class="memora__content">
    <h2 class="memora__content--title">¿Qué es Memora?</h2>

    <p class="memora__content--headline">
      Convierte el estudio en memoria <span class="blue">real</span>
    </p>

    <p class="memora__content--desc">
      Aprende mejor, repasa de forma inteligente y haz seguimiento de tu
      progreso cada día.
    </p>
  </div>
</section>
