<header class="header">
  <section class="header__logo">
    <img
      class="header__logo--img"
      src="/icons/logo-green.svg"
      alt="Logo de memora"
      title="Logo de memora"
      aria-label="logo de memora"
    />
    <p class="header__logo--title">MEMORA</p>
  </section>
  <nav class="header__buttons">
    <a href="#">Home</a>
    <a href="#">Tu perfil</a>
    <a href="#">Colecciones</a>
    <a href="#">Cartas</a>
  </nav>
  <div class="header__register">
    <button class="header__register--button">Empipeza ya</button>
  </div>
</header>
<router-outlet></router-outlet>
